<!-- namefilter -->
{{firstnamestr}}
{{#fnletters}}
    {{#selected}}
    <div class="namefilter-selected">{{letter}}</div>&nbsp
    {{/selected}}
    {{^selected}}
        <a href="{{{letterurl}}}" >{{letter}}</a>&nbsp
    {{/selected}}
{{/fnletters}}

{{#firstnamefiltered}}
<div class="namefilter-selected">{{allstr}}</div>&nbsp
{{/firstnamefiltered}}
{{^firstnamefiltered}}
<a href="{{{nofirstnamefilterurl}}}" >{{allstr}}</a>&nbsp
{{/firstnamefiltered}}

<br/>

{{lastnamestr}}
{{#lnletters}}
    {{#selected}}
    <div class="namefilter-selected">{{letter}}</div>&nbsp
    {{/selected}}
    {{^selected}}
        <a href="{{{letterurl}}}" >{{letter}}</a>&nbsp
    {{/selected}}
{{/lnletters}}

{{#lastnamefiltered}}
<div class="namefilter-selected">{{allstr}}</div>&nbsp
{{/lastnamefiltered}}
{{^lastnamefiltered}}
<a href="{{{nolastnamefilterurl}}}" >{{allstr}}</a>&nbsp
{{/lastnamefiltered}}

<!-- /namefilter -->