


<!-- mod_pdcertificate/report_form -->
<br />
<form name="controller" method="GET" action="{{{baseurl}}}" method="POST">
    <input type="hidden" name="id" value="{{cmid}}" />
    <input type="hidden" name="sesskey" value="{{sesskey}}" />

    {{{table}}}

    <table width="95%">
        <tr>
            <td align="left">{{{selector}}}</td>
            <td align="right">
                {{#canmakeall}}
                <a href="{{{makeallurl}}}" >{{generateallstr}}</a>
                {{/canmakeall}}
                <!-- a href="{{{viewallurl}}}" title="{{{viewalladvicestr}}}" >{{viewallstr}}</a -->
            </td>
        </tr>
    </table>

</form>
<!-- /mod_pdcertificate/report_form -->